$bgcolor: #222831;
$fontcolor: #FFE8DF;
$hovercolor: #88888835;



body {
    background-color:  $bgcolor;
    color:  $fontcolor;
    filter: invert(1) hue-rotate(180deg);


}

#table {
  filter: invert(1) hue-rotate(180deg); /* inverts colors */
}

#moon  {
  filter: invert(1) hue-rotate(180deg); /* inverts colors */
}

#sun  {
  filter: invert(1) hue-rotate(180deg); /* inverts colors */
}